body{
    background-color: rgb(146, 146, 146)
}

h2{
    background-color: rgb(78, 78, 78);
}

h1{   
    color:rgb(0, 0, 0)
}

td{
    color:rgb(0, 0, 0)  
}

h2{
    color:rgb(166, 166, 166)
}

h4{
    color:rgb(0, 0, 0)
}

ul{
    color:rgb(0, 0, 0)
}